<div class="mypetbox2">
  <div style="border: 1px solid black; margin: 1rem; padding: 1rem; border-radius: 30px; border: rgba(0, 0, 0, 0); background-color: white;">
  <h2 class="petinform">My name is <%= petFound.petname %></h2>
  <h2 class="petinform">I'm a <%= petFound.petsort %></h2>
  <h2 class="petinform">I'm a <%= petFound.petbreed %></h2>
  <h2 class="petinform">My birth is on the: <%= petFound.petbirth %></h2>
  <h2 class="petinform">My gender is: <%= petFound.petgender %></h2>
  <h2 class="petinform">My color is: <%= petFound.petcolor %></h2>
  <h2 class="petinform">My hair type is: <%= petFound.pethair %></h2>
  <h2 class="petinform">My next vaccine is: <%= petFound.petvaccines %></h2>
  <h2 class="petinform">and the date is: <%= petFound.petvaccinesdate %></h2>
  <h2 class="petinform">Here's me:</h2><img class="petimg" src="<%= petFound.petpicture %>" />
</div>
</div>
<div class="onelinks">
  <a class="mypetsbtn4" type="button" href="/profile/">Back to Profile</a>
  <a class="mypetsbtn4" type="button" href="/profile/mypets">Back to My Pets</a>
  </div>
